.BImage img{
    height: 100vh;
    width:100vw
}
.logo{
    font-family: Bebas Neue;
    color: red;
    
}

.items{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position:relative;
    margin:0%;

    
}
.list{
    display: flex;
    flex-direction: column;
}
span{
    color: aliceblue;
}
