.signup{
    position: relative;
}


.heading{
    position: absolute;
    top: 1%;
    left: 1%;
    color: aliceblue;
}
.writings{
    position: absolute;
    display: flex;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    top: 30vh;
   
    color: aliceblue;
}


.logo img{
    height: 50px;
}
h1{
    font-size: 50px;
    width: 500px;
}
.logo{
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

.button{
    position:absolute;
    top: 65%;
    left: 45%;
    margin-top: 25px;
}
form{
    display: flex;
    margin-left: 10vw;
    justify-content: center;
    align-items: center;
    width: 70vw;
    gap: 0px;
    display: flex;
    position: absolute;
    top: 50%;

  
    color: aliceblue;
    
}
.form{
    height: 400px;
    width: 30vw;
    background-color: #000000b0;
    display: flex;
    margin-top: 20vh;
    margin-left: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  20px;
}
.formBox{
    background-color: #000000b0;
    display: flex;
    gap: 10px;
}

