.signup{
    position: relative;
}

.heading{
    position: absolute;
    top: 1%;
    left: 1%;
    color: aliceblue;
}
.writings{
    position: absolute;
    top: 30%;
    left: 35%;
    color: aliceblue;
}
.input{
    position: absolute;
    top: 50%;
    left: 30%;
    color: aliceblue;
}
.logo img{
    height: 50px;
}
h1{
    font-size: 50px;
    width: 500px;
}
.logo{
    width: 95vw;
    display: flex;
    justify-content: space-between;
}

